[2017-02-10 22:58] MatMoul opened #1 "Very hard to install"
I just tried to install but it's rather complicated.
It would be cool to have an installation script ...
I test it in VM, if script is not fully tested, make a branch for testing

[2017-02-14 16:51] MohamadSaada commented on #1
Hi, I've provided linux packages that will take care of the installation process, and later today i will provide a script that will compile the code and install everything automatically, hope this takes care of the problem.

[2017-02-15 21:16] MohamadSaada commented on #1
I have provided two scripts , the first script `logigsk-buildpackage` will compile the source and create a deb or rpm package, which can be installed through the package manager. the second script `INSTALL` compiles the source and installs the program directly without the need to create a package. I would advise to use the first one, but both work very well, please try them and let me know what yo

[2017-02-16 19:19] MatMoul commented on #1
Sorry for my late reply, too much job :-(
But it's cool to have provided these scripts, I try this weekend

[2017-02-19 12:31] MatMoul commented on #1
Installer work well on KDE Neon...
Just tested with G810 and my keyboard is detected and seem work...

[2017-02-19 12:31] #1 closed

[2017-02-20 21:21] MohamadSaada commented on #1
Glad that it worked for you, really appreciate the time and effort you've put into trying it, I hope you don't mind that I've add your name to two of the classes that I've converted from your project, along with a link to your project's website.

[2017-02-20 21:43] MatMoul commented on #1
With pleasure...
It would also be nice to add a license file...
[https://github.com/MatMoul/g810-led/blob/master/LICENSE](https://github.com/MatMoul/g810-led/blob/master/LICENSE)

[2017-02-21 15:05] MohamadSaada commented on #1
I have followed your recommendation and added a LICENCE file. Each single source file has a preamble which mentions the licence and the script creates a licence file in /usr/share/doc/logigsk.

I will follow your project and make amendments accordingly.

[2017-04-21 16:16] puargs opened #2 "G-Keys input not working?"
It seems that the G-keys for the G910 keyboard are not working on Ubuntu 16.04. The G-Key pane in the application is blank. Output in xev (both sudo and non-sudo) shows no output/input at all from these keys.

The LEDs do control just fine, though!

(also, excellent program! - I was able to build successfully and install.)

[2017-04-21 16:19] puargs opened #3 "Hard-coded java home location"
After compiling via instructions and installing, I found that the program did not pick up the globally set JAVA_HOME variable. Instead, it seems to be hard coded to /usr/lib/jvm/default-java . I had to create a symbolic link via the following command:

`sudo ln -s $JAVA_HOME /usr/lib/jvm/default-java`

[2017-04-26 05:05] MohamadSaada commented on #2
Hi, I'm sorry for the late reply, the program doesn't support the G-Keys yet, hopefully it will come on a later date. but I'm really busy during the next two months so don't expect anything anytime soon​ :-(

[2017-05-08 10:17] Speppa opened #4 "a few effects work"
First of all, thank you for you work.
I installed it through the first method, Ubuntu open correctly LogiGSK, I set the effects without any error message but most do not work.
The keyboard works fine on Windows 7. On Ubuntu 16.04 work only these types of lighting:
-EFFECTS:
fixed colour
breathing
colour cycle

-ZONES
Multimedia

It is still a step forward but I would like to be able to use more fe

[2017-05-08 10:19] MohamadSaada commented on #4
Hi, what is your keyboard model?

[2017-05-08 10:19] MohamadSaada commented on #3
Hi, I will fix this soon, thanks for letting me know.

[2017-05-08 11:32] Speppa commented on #4
G610 Orion Brown

[2017-05-08 11:43] MohamadSaada commented on #4
Hi, unfortunately I only have a g910, but I could solve the issue if you can provide data dumps using Wireshark. You can search online for how to record data dumps for a usb device. It is necessary to record the dumps while implementing the effects you want in windows on a virtual machine using something like virtualbox. Please record a dump for each effect separately. It may sound hard but it is

[2017-05-08 15:28] Speppa commented on #4
I am also really busy at the time, I'll write you here when I'll have the data dumps.
Thank you very much for your availability!

[2017-05-14 10:28] MohamadSaada commented on #3
@puargs, I've commented out the statements where the variable was altered. Please try the new version and let me know, thanks.

[2017-05-22 06:46] bwbees0 commented on #4
Hi Mohamad,

First things first -- thanks for getting this effort going!

I am using a new G910 Orion Spectrum keyboard with Fedora 25.  When I set up the colors, I noticed that the pipe and back slash key (  | \ )  underneath the backspace key did not get a color when  I set up all the key colors. That key had a color before I used the LogiGSK to reassign the keyboard colors, so I am wondering wh

[2017-06-08 08:01] harmo opened #5 "Add azerty layout"
Only US and UK layouts are available, how to add more ?

[2017-06-10 04:40] jonbitzen commented on #4
Hello Mohamad,

I've had the same issue as bwbees0 with the pipe and backslash key.  I know you said above that you've been busy but I'd like to bump this in case you get the time.

Thanks!

[2017-06-13 10:09] MohamadSaada commented on #4
@bwbees0 @jonbitzen Hi guys, is the backslash key always not working, or just in a specific effect. Which program layout are you guys using, and what models are your keyboards and which variant is it (US, UK,... etc). Thanks.

[2017-06-13 10:37] MohamadSaada commented on #5
Hi, could you please send a link to a picture of your keyboard so that I know which model and layout it is. If you want to contribute, you are more than welcome. In order to add a layout, there are a few main things you have to do (That I can think of).

1. Create a class for your specific model and layout, you can see an example of this in the source code such as the `G910SpectrumUSQWERTY` Class.

[2017-06-13 10:54] MohamadSaada commented on #4
@bwbees0 The problem with the rpm file comes from the way I wrote the package build file, I forgot to mention that in order to build an rpm file, you need to do that on a Debian based distribution (I know it beats the purpose). The reason for this is that I added this option as a last minute thing and the way I did it is through using a utility that converts deb files into rpms. I hope when I get

[2017-06-13 17:57] bwbees0 commented on #4
Hi Mohammed,

I am using the G910 Orion Spectrum keyboard in the US keys layout.

The backslash and pipe keys still operate, but the LEDs don't turn on after
configuring the color scheme with the program.  If I plug the keyboard into
a different computer, the keyboard returns to the default wave pattern and
all the LEDs including the backslash and pipe key LEDs work. This is what I
expect thus, I

[2017-06-14 04:17] jonbitzen commented on #4
Mohamad,

I'm using the US version of the G910 Orion Spark.  I don't have any special effects like the RGB wave or anything.  I configured the LogiGSK software to do regional lighting.  So my F keys are green, G keys are red, keypad purple, and so on.  The pipe and backslash key should be blue according to the way I've configured it, however although all my "main" keys are blue, the pipe / backsla

[2017-06-14 13:09] MohamadSaada commented on #4
@bwbees0 I know it's not a hardware problem, I was asking to see when it happens. @bwbees0 @jonbitzen Can you please try and rebuild the package and install it again, I have made a small change that I hope might solve the problem, if it didn't please let me know.

[2017-06-14 18:10] bwbees0 commented on #4
Hi Mohammed,

I will gladly try that rebuild and let you know what happens.

Cheers,

Ben

On Jun 14, 2017 09:10, "MohamadSaada" <notifications@github.com> wrote:

[2017-06-15 02:56] bwbees0 commented on #4
Hi Mohammed,

I rebuilt the software tonight and tried it out.  What I notice when configuring the key colors is that all is fine until you save the profile or exit the LogiGSK application.  As soon as you save the profile or exit the application, the color on the backslash-pipe key turns off. I tried this several times and even created a different profile file to see if that mattered. The same th

[2017-06-15 11:54] MohamadSaada commented on #4
@bwbees0 Hi Ben, I was wondering are you using the set profile button, or just saving the profile, if you are setting the profile and it's not working can you please try to delete the profile and setting files in the /home/yourUserName/.config/LogiGSK/ directory and try setting the profile again, please let me know what happens.

Cheers

Mohamad

[2017-06-18 19:58] bwbees0 commented on #4
Hi Mohammed,

I set up a different profile on the last build.  That new profile is the file I attached above. Today, I noticed the backslash-pipe key is working correctly and has a color assigned to it that matches what I set up. The only difference I can think of between rebuilding the LogiGSK package and now is that I applied a few updates to the system (new kernel etc) and rebooted.  Maybe that

[2017-06-23 07:41] MohamadSaada commented on #4
Great to hear that, if you do face any other problems, please let me know.

Cheers

Mohamad

[2017-06-24 11:09] #3 closed

[2017-06-27 15:11] herochao opened #6 "Add DE_QWERTZ layout"
Hey, just writing you really quick because I've been waiting for a project like yours since I got this keyboard!

I have the german version of the g910 Orion Spark. In principle, I was going to add my Keyboard as described in your README, but ran into some problems.
First and foremost: There is no clean Image of the german keyboard layout for the g910. The official windows configuration program is

[2017-08-25 11:17] marceeu opened #7 "Software does not work on Kali Linux"
Hi, I'm using the last dist of Kali linux, I,v tried everything, compile the pkg by myself, donwload the deb and rpm from the repo and installed they etc.. i can install the soft but when i open it nothing happens. I"m using a G610

[2017-08-25 11:22] MohamadSaada commented on #7
Hi, I'm really sorry about that, there seems to be a problem with the G610, does the program detect your keyboard? I don't have the G610 at hand and I've asked multiple guys to collect Wireshark dumps for the G610 but nobody seems to have the time, can you please collect some dumps for different actions and lable each dump with the corresponding action, and then share them with me and I will have

[2017-08-25 11:45] marceeu commented on #7
Hi, I don't know how to do it, but if you give me the instructions i will be happy to do it 😃
I don't know if the software detects the keyboard because when i open it, the mouse show the simbol that is loading something, then the software closes by itself.
________________________________
From: MohamadSaada <notifications@github.com>
Sent: 25 August 2017 13:22
To: MohamadSaada/LogiGSK
Cc: marceeu;

[2017-09-28 13:00] EricBergeron opened #8 "Ubuntu 14.04 and G910"
Hello Mohamad,

First and foremost, thank you very much for doing what Logitech refuses to do, which is to help us enjoy what should be a great product.
I have the G910, everything works well in windows, I can get the LED setting to stick in Ubuntu if I close Lcore process before rebooting, If I don’t well I get the supra annoying rainbow effect when I want to work in Ubuntu which I use for my wor

[2017-09-28 14:41] EricBergeron commented on #8
Hello Again!!

sorry for the trouble, turns out my java was not version 8 , installed 8, rebooted and it works like a charm!
puts those logitech people to shame !

Again a million thanks!

[2017-09-29 14:15] MohamadSaada commented on #8
@EricBergeron  Glad to see that the issue has been solved. I have a G910 myself and this program should work fine with the G910. It's a real shame that Logitech don't want to support Linux. I want to write an extension app on android that allows the control of the keyboard through the app, but unfortunately I don't have much free time, maybe in the near future.

[2017-09-29 14:15] #8 closed

[2017-09-29 14:26] MohamadSaada commented on #7
@marceeu I'm sorry I didn't reply earlier, but somehow I missed your comment. If you can download a VM software like VirtualBox, and install a windows OS on that VM (guest OS). Then install a program like WireShark on the host machine. In the VM software, specify that the keyboard should be used in the guest OS(Windows). Install Logitech software on the windows guest OS. In the host OS run WireSha

[2017-09-29 14:33] MohamadSaada commented on #6
@herochao Sorry for the late reply. I need a larger image than the one you have already sent, if you can take a high def. photo of your keyboard over a white background, I can try and work with that. The implementation should be really simple.
I'm using netbeans latest version along with Oracles Java 8 but I have tried it with OpenJDK and it was working fine.
Unfortunately you have to do manual co

[2017-09-29 14:35] MohamadSaada commented on #5
I think this issue is the same as other layout issues, and it hasn't been active for quite sometime, therefore I'm closing it and keeping only one active issue relating to layout implementation.

[2017-09-29 14:35] #5 closed

[2017-09-29 14:36] #2 closed

[2017-09-30 15:03] EricBergeron commented on #8
Thank you again,
how can we force a profile load on boot?
When leaving windows, Lcore sends a "do the rainbow dance" signal, as Ubuntu reboots it is stuck with the rainbow, until LogiGSK is started and profile manually loaded.

Have a wonderful day!

[2017-10-01 19:36] MohamadSaada commented on #8
@EricBergeron the profile should load automatically, when Ubuntu boots up, are reloading it by hand each time?

[2017-10-02 13:49] EricBergeron commented on #8
Hello mr Saada,

Yes, I need to load LogiGSK and load my profile.  But only if the computer
is coming from a windows7 session.

If it is ubuntu rebooting , everything stays.

In the end it is not a big effort compared to the pain of that strolling
bright rainbow ;)

Many thanks again!

Eric

Le 1 oct. 2017 3:36 PM, "MohamadSaada" <notifications@github.com> a écrit :

[2017-10-02 14:47] MohamadSaada commented on #8
@EricBergeron if you use LogiGSK service you don't need to load the profile manually. It will do it automatically. And you can use animated effects with the service as well. Cheers.

[2017-10-02 17:13] EricBergeron commented on #8
I know it should, but it does not start automatically with Ubuntu.  Perhaps
I am overdue for a general re-instal of my system along with the upgrade to
16.04?

anyhow, your work is impressive and appreciated, Logitech should send you a
big gift for your birthday :)
Have a wonderful day!

2017-10-02 10:47 GMT-04:00 MohamadSaada <notifications@github.com>:

[2017-10-08 14:23] sViech opened #9 "Stuck in Loading Screen"
Hi, first of all: thanks for the work!
I'm using Kubuntu 17.04 and the Logitech g910 orion spectrum.
I tried to build my own package and installed it - the program closed immediately after the start.
With the Install script I'm getting so far that the program starts and shows loading but stays there - I'm able to click on "File" but the only thing I can click on is "Exit". When I click on "Edit" t

[2017-10-10 02:43] jonbitzen commented on #4
Mohamad,

I'm still having the issue with the pipe/backslash key.  I did the following:
- uninstalled the version I was using back in June
- downloaded the source from the trunk in your git repo [I noticed there was a June commit which addressed the pipe/backslash issue]
- built the debian package per the instructions
- installed the updated debian package
- reboot the system
- opened the LogiGSK

[2017-10-10 13:37] MohamadSaada commented on #4
@jonbitzen I will give it a go today and try to figure out what the issue is. It's probably a problem with the LogiGSK service, I think it's most likely a minor thing that could be fixed easily. Once I'm home I will have a look at it.

[2017-10-10 13:39] MohamadSaada commented on #9
@sViech Which version of Java are you using?

[2017-10-10 18:43] sViech commented on #9
java --version -->
openjdk version "9-Ubuntu"
OpenJDK Runtime Environment (build 9-Ubuntu+0-9b161-1)
OpenJDK 64-Bit Server VM (build 9-Ubuntu+0-9b161-1, mixed mode)

[2017-10-11 12:24] MohamadSaada commented on #9
@sViech  yesterday I've installed Kubuntu 17.04, I did the following to create the package

`sudo apt-get install openjdk-8-jdk`
`sudo apt-get install ant`
`sudo apt-get install jsvc`
`sudo bash logigsk-buildpackage deb`

I then installed the deb file and everything worked fine, please try and make sure you have the full jdk installed. Or try the steps I did and check if it works. Cheers.

[2017-10-11 12:26] MohamadSaada commented on #8
@EricBergeron I have found out why the service is not loading the set profiles. I will fix it tonight. Please try and install the new version after I have submitted it, and let me know how it goes. Cheers.

[2017-10-11 12:28] MohamadSaada commented on #4
@jonbitzen I can't seem to find your problem. I will fix another problem with the service tonight, can you please test the new version after I submit it here tonight, and let me what happens with you. Sorry about this problem, Cheers.

[2017-10-11 12:30] MohamadSaada commented on #4
@jonbitzen It just accord to me that the code might have been working before June, and that I might have caused the backslash issue instead of fixing it. I will try and change it back and then you can check it and let me know. Cheers.

[2017-10-11 12:34] MohamadSaada commented on #4
@jonbitzen one more thing, is the problem only when you apply it through the zones, or is it also when you set it through the free style option, please let me know. Cheers.

[2017-10-12 03:12] EricBergeron commented on #8
Hello Mohamad,

I wont be able to test before next week, but for sure I will let you know
how it went.

thank you again very much for your time!
have a wonderful week!

Eric

Le 11 oct. 2017 8:26 AM, "MohamadSaada" <notifications@github.com> a écrit :

@EricBergeron <https://github.com/ericbergeron> I have found out why the
service is not loading the set profiles. I will fix it tonight. Please try

[2017-10-15 16:40] jonbitzen commented on #4
I just tested it in freestyle.  There is no way that can make the pipe/backslash key change color using the freestyle menu.  The pipe/backslash is always off.  I can see the color change in the picture of the keyboard in the logigsk window, but again the keyboard itself does nothing for that key in freestyle.

I independently verified that I was able to change the WASD keys from green to pink, jus

[2017-10-27 12:23] MohamadSaada commented on #4
@jonbitzen the problem is that I don't want to commit changes that might not be correct. The problem with the backslash is most probably because of confusion between using `intl_backslash` and `backslash`. In the UK layout I use `intl_backslash`, In the **G910 US QWERTY** layout I had originally set it to `backslash`  and then changed it to `intl_backslash` after your first request. The way to che

[2017-10-27 15:28] bwbees0 commented on #4
Hi Mohamad,

Thanks for posting the above.  I notice the G910 has 125 keys.  What would be an easy way to add the missing keys?  For example, the media control keys and the M1-M4 keys are missing in the above KeyG910USQWERTY description.  I'd like to help, but I could use some advice on how to proceed.

Thanks,
Ben

[2017-10-30 14:24] MohamadSaada commented on #4
@bwbees0 actually if you notice in `src/Logi/GSeries/Libraries/Keyboard.java` that the main enumeration has 127 keys to represent all keys. But the individual enumerations for each keyboard layout only represents the keys that have controllable leds. That is why the **G910** is only represented by 115 keys for `USQWERTY` and 116 for `UKQWERTY` layouts. As the media keys and M keys leds can't be ch

[2017-10-31 01:49] bwbees0 commented on #4
Hi Mohamad,

Thanks for that explanation. I did not know that.

So, what would it take to get the media keys working then?  The LED colors are working great, but the keys are essentially non operational right now in that the volume and cd player controls don't work on the Linux machine.

Thanks in advance,
Ben

[2017-10-31 15:56] MohamadSaada commented on #4
@bwbees0 Hi Ben, to get the M-keys and G-keys working, we need to write a kernel driver for the Logitech keyboards. That way we can map these keys correctly and we can also introduce other effects such as the lightning effect and the key stroke effect. But unfortunately as with most things in life, this is easier said than done. Implementing it would take a large amount of time which unfortunately

[2017-11-01 01:13] bwbees0 commented on #4
Hi Mohamad,
Wow, I did not realize that much work was involved. All the more reason to be thankful for your help!  I don't know how to write kernel drivers, maybe I should start learning how to do that.

I look forward to seeing this all come together.

Cheers,
Ben

[2017-11-04 18:38] sViech commented on #9
Sorry for my late reply, had lots of work to do.
Your solution brought no success but I then I had an idea.
I checked
`sudo update-alternatives --config java`
the result was
` * 0            /usr/lib/jvm/java-9-openjdk-amd64/bin/java       1091      automatischer Modus`
 ` 1            /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/java   1081      manueller Modus`
 ` 2            /usr/lib/jvm/java-9-o

[2017-11-06 12:17] MohamadSaada commented on #9
@sViech glad that you have solved the problem. Please make sure that you have used the latest source code, as some changes have been made after your first comment. I am going to close this issue, if you do face any other problems, please open a new issue.

Cheers

Mohamad

[2017-11-06 12:17] #9 closed

[2017-11-13 08:54] BikeAtor commented on #6
Hi, I just made a picture of my German G910. The PNG should have tansparency for the Keys.
PNG: http://www.penguinpower.de/G910.png
GIMP: http://www.penguinpower.de/G910.xcf

You can use the pictures as you like. They are totally free.

Name should be DE_QWERTZ
As names in Java you could use:
ä = ae
ö = oe
ü = ue
ß = ss
It would be nice to support the German Layout :-)

If I find some time, I will

[2017-11-14 14:56] MohamadSaada commented on #6
@BikeAtor great job my friend, the picture is really good. If only everyone that had a specific layout request did what you did, we would've been able to support all the layouts in no time. I will work on the **DE_QWERTZ** layout in the next few days in my spare time, and hopefully it will be added shortly to the source. Thank you very much for your help.

Best Regards

Mohamad

[2017-11-16 04:55] davidcj79 opened #10 "Support for Logitech Pro 10-keyless Keyboard?"
Hi any chance you could add support for the Logitech Pro 10-keyless Keyboard?  Let me know if you need any additional information.

Thanks!

DJ

[2017-11-16 20:50] holzfuss commented on #6
DE_QWERTZ would be very nice!

[2017-11-20 15:20] MohamadSaada commented on #10
@davidcj79 hopefully support for the Logitech Pro will be added shortly. What layout are you using, currently I am adding US_QWERTY and UK_QWERTY. If you have another layout in mind please provide me with an image for the keyboard with that specific layout.

[2017-11-22 02:08] coreybruce opened #12 "Having issues getting it working"
System: Xubuntu 16.04 LTS

I need some help on getting this working, I've installed it but the service wont start even tho I started it and I got a error saying

Starting the LogiGSK service...
Cannot locate Java Home
The LogiGSK service has started.

tho I did

export JAVA_HOME=/usr/lib/jvm/jre-8-oracle-x64

really wish this was just a install and use instead of this unneeded complications..

[2017-11-22 02:22] coreybruce commented on #12
Don't worry I got it working, had to manually add my java location in the script and reboot tho it says the service hasn't started..

thanks!

hope it gets a little less complicated for especially new users :D

[2017-11-22 02:22] #12 closed

[2017-11-22 08:10] MohamadSaada commented on #12
@coreybruce glad that you have solved it by yourself. Sorry about it being a little complicated, it is still a work in progress. If the service is not running automatically check the **Service not starting automatically?** Section in the main page. Make sure that your service is running as it loads the profile automatically on login and resume. Cheers

[2017-12-08 04:35] coreybruce commented on #12
Ahh I see well good work and cheers!

[2017-12-12 11:37] bitwombat opened #13 "CLI, set and exit?"
Hi,

Thanks for putting this together!

However, it does not suit my use case - I do not want yet another daemon running and taking up memory.  I have a simple G610 (monochrome) and just want to set LEDs upon X.org starting... like xset does for NumLock, CapsLock and ScrollLock.

Any plans to support that use case?

[2017-12-12 15:49] MohamadSaada commented on #13
@bitwombat this is possible to do but a problem that you might face is that whenever your computer suspends the keyboard will reset to its default mode.

[2017-12-12 23:08] bitwombat commented on #13
Ah, interesting.  Aren't there scripts in /etc/ that get run on resume?

[2017-12-21 01:49] bitwombat commented on #7
Hi Mo - I'm also not seeing the software work for my G610.  I've got some technical chops so I should be able to get the Wireshark dumps to you in a little while if you still think that would help this issue?

[2017-12-21 04:31] bitwombat commented on #7
Update:  The linux version of Wireshark is happy to decode USB, but the properties I can filter on doesn't seem to include source or destination address, so I'm getting all the keyboard USB activity too...

[2017-12-21 11:39] bitwombat commented on #7
So here's a capture with the keyboard "owned" by a Win10 VirtualBox guest via an Ubuntu host.

This is just setting one individual key, because with effects on, the Software sends a massive amount of USB data.  That's what you asked for, but it didn't seem right.  Let me know if that's actually what you wanted.

I've filtered out a bunch of other USB activity, but the key setting is the last few p

[2017-12-26 12:30] JMendyk commented on #10
I would also gladly see support for G Pro keyboard. In terms of keyboard layout I have what Logitech calls "US International". Below is a high quality image of this layout found in Google.
![US International](https://i.ytimg.com/vi/2WCCS3wPhb0/maxresdefault.jpg)

If there's something I could do, I will try to do my best to help.

[2018-01-07 12:02] giov4 opened #14 "german layout for logitech g910 orion spectrum"
hello,

as from the title, I'd like to use your software, it works, even if the volume wheel, using the US layout, was deactivated. My keyboard version is german QWERTZ.
Could it be possible to add it to your software?

Thank you

[2018-01-08 08:56] frcake commented on #10
Oh pretty please add this feature!

[2018-01-23 22:11] Johndt6 opened #15 "Cannot install on CentOS 7"
Attempting to install on CentOS 7, using the following command:

`sudo yum install logigsk-1.0.0.rpm`

This is using the `.rpm` file provided in the README.

Get the following error:

[code]

[2018-01-25 06:39] BikeAtor commented on #6
Ping

[2018-01-25 09:46] MohamadSaada commented on #6
@herochao @BikeAtor @holzfuss @jonbitzen Hi guys, I'm sorry I didn't do the German interface yet. I promise it will be done within the next week or two. I will let you know once I have finished.

Cheers,

Mohamad

[2018-01-25 09:48] MohamadSaada commented on #10
@davidcj79 @JMendyk @frcake Hi guys, I will hopefully add this feature soon, I will let you know once it's finished.

Cheers,

Mohamad

[2018-01-25 09:51] MohamadSaada commented on #14
@giov4 Hi, yes I will add the German layout very soon. but I was wondering, what do you mean by "even if the volume wheel, using the US layout, was deactivated."?

[2018-01-25 09:53] MohamadSaada commented on #15
@Johndt6 Hi, have you tried to use the INSTALL script provided, it should work fine. Please try installing through the install script, and let me know what happens. Currently the rpm package is produced by converting a deb package to rpm. In the future I will fix this issue by writing a script to produce the rpm package out right as done for the deb.

Cheers,

Mohamad

[2018-02-13 01:35] wyatthuckaby opened #16 "Unable to access jarfile"
Most of the installation went okay, however when attempting to launch I am confronted with this error:

`Error: Unable to access jarfile /usr/share/logigsk/LogiGSK.jar`
I am running as root and im still getting the same error.

[2018-02-14 03:53] SammyKat opened #17 "Pressed Key effect"
The most useful effect by far is the pressed key one: with the whole keyboard with one, fixed color, once you press a key, it changes to a selected color, then slowly (adjustable) changes back to its original color.

Rather than looking pretty, this is ideal to realize whether you've hit one or two keys when your aim isn't all there. Or, you can always give me some pointers on how to code an effec

[2018-02-20 17:07] Alpkant opened #18 "Add request for Turkish Q layout"
If you can add Turkish Q keyboard layout it would be awesome.

[2018-02-24 02:54] SammyKat opened #19 "Big "This-can't-be-right""
Hi,
0

root@lk-ws:/home/sammy/leds/LogiGSK# ./INSTALL
This program requires java but it's not installed. Aborting.
This program requires javac but it's not installed. Aborting.
This program requires jsvc but it's not installed. Aborting.
This program requires ant but it's not installed. Aborting.
compiling the project using Apache Ant
./INSTALL: line 25: ant: command not found
cp: cannot stat '/ho

[2018-02-25 01:39] arthurcgusmao commented on #16
The same here, on Ubuntu 16.04.
I performed the installation by cloning the repo, building the .deb package and installing it with apt.

[2018-02-26 01:40] dereckson opened #20 "[Documentation] Provide an installation guide for Windows"
Instructions to how to use tihs software on Windows aren't straightforward.

For Linux, there are deb/rpm packages available. But for Windows, the .jar alone requires other files, and the exact list isn't documented.

[2018-02-26 02:21] ProjectSynchro commented on #20
Unless there's a port of g810-led for windows I don't see a need for this to be packaged for windows.

[2018-02-26 09:05] MohamadSaada commented on #20
Theoretically this could work on Windows, but I haven't tried it since most people will use the software provided by Logitech which has much more features than this one.

[2018-02-26 09:10] MohamadSaada commented on #20
@ProjectSynchro When I began writing LogiGSK I rewrote some of the g810-led source for the keyboard usb commands, but it was expanded and a lot of it changed in order to work with the visual interface, so this project doesn't use any libraries produced by the g810-led project, and this project can be ported to Windows, regardless of the g810-led being ported or not, as they are two completely diff

[2018-02-26 09:21] MohamadSaada commented on #16
@wyatthuckaby is the jar file located in the indicated path? And can you please check the permissions of the files too. I've never had this problem before. I will check it today. The program shouldn't be run as root, just install it as root and run it as a normal user. Does the service run? Do you see an icon in the system tray? Please let me know.

[2018-02-26 09:28] MohamadSaada commented on #19
@SammyKat there is something fundamentally wrong with this picture as the script shouldn't go pass the first few checks. The script usually checks for needed dependencies. If all are satisfied it continues running, if all or any isn't satisfied, then it should stop running.

Do you have all the needed dependencies (Java, jsvc, ant, etc...)installed? Did you run the installer as root? Please let me

[2018-02-26 09:30] MohamadSaada commented on #18
@Alpkant Hi, can you send me a clean large res image of your keyboard on a white background? I can't find any online, thanks, Cheers.

[2018-02-26 09:33] MohamadSaada commented on #17
@SammyKat I would love to write that effect, but it is not easy, as it would require the service detecting keyboard strokes all the time and recognising them under different keyboard layouts. I will try it one day but I am afraid it won't be now. Cheers.

[2018-02-26 13:01] arthurcgusmao commented on #16
Hi @MohamadSaada , in my case, the file wasn't present in `/usr/share/logigsk/LogiGSK.jar`. Actually I searched for a file with that name in the whole PC and I couldn't find it at all. I was able to run the service, or at least the output to the console was in the lines of "The service started successfully" (I don't remember exactly now), but no icon was displayed and nothing happened. For me it s

[2018-02-26 18:05] ProjectSynchro commented on #20
Ah I was under the impression that this project required g810-led specifically and was dependent on it
Looking now I can see you forked g810-led and did some work on that my mistake.

[2018-02-28 19:44] holzfuss commented on #6
I'd still appreciate a German layout :)

[2018-03-04 03:55] pnelego commented on #16
@MohamadSaada I had the same problem as @arthurcgusmao, the jarfile simply didn't exist in the directory.

[2018-03-08 14:50] boscho87 opened #21 "Start the deamon and load a Proflie in CLI"
Its possible to add a script in .bashrc/.bash_profile, to force it @startup because my windows (dualboot) changes the setting after start

[2018-04-18 22:17] BigDaddyLinux commented on #16
I have the same issue with the jarfile missing

[2018-05-15 16:48] LiyuanZHOU opened #22 "Color does not change"
Dear developers, I've successfully installed LogiGSK 1.0, and opened the software. However, whatever I've set in the software does not show anything changed on my keyboard, any ideas?

[2018-05-24 06:46] HexxCraft commented on #6
push :)

[2018-05-24 17:57] holzfuss commented on #21
I also have a dualboot system, but Windows does not change the Ubuntu settings.

[2018-05-24 20:11] boscho87 commented on #21
did you install the driver on windows ?

[2018-05-26 11:51] holzfuss commented on #21
I use the "Logitech Gaming Software" on Windows.

[2018-06-08 08:54] sheppert commented on #14
@MohamadSaada how is it going?

[2018-06-16 11:34] ludwigvdb opened #23 "Support for FR_AZERTY Layout"
Hi,

Have you plan to add the french FR_AZERTY Layout.

I've try to make it myself but i'm far away from success :/

Thanks for your work

[2018-06-17 11:26] crazydisi commented on #14
Duplicate of https://github.com/MohamadSaada/LogiGSK/issues/6

[2018-06-24 17:39] holzfuss commented on #6
Push! (Pleeeease)

[2018-07-02 17:06] kemindo opened #24 "Cannot find amy VM in Jaca Home"
kemi@HeavyTuned:/usr/share/logigsk$ java --version
openjdk 10.0.1 2018-04-17
OpenJDK Runtime Environment (build 10.0.1+10-Ubuntu-3ubuntu1)
OpenJDK 64-Bit Server VM (build 10.0.1+10-Ubuntu-3ubuntu1, mixed mode)

kemi@HeavyTuned:/usr/share/logigsk$ cat /etc/lsb-release
DISTRIB_ID=Ubuntu
DISTRIB_RELEASE=18.04
DISTRIB_CODENAME=bionic
DISTRIB_DESCRIPTION="Ubuntu 18.04 LTS"

kemi@HeavyTuned:/usr/share/l

[2018-07-02 17:51] kemindo commented on #24
BUILD SUCCESSFUL
Total time: 4 seconds
Daemon not running, no action taken
failed to setup LogiGSK service startup file in autostart, please refere to website for more details.
Starting the LogiGSK service...
Cannot find any VM in Java Home /usr/lib/jvm/default-java
The LogiGSK service has started.
LogiGSK has been successfully installed

[2018-07-02 18:21] kemindo commented on #24
dont know why but it works with my G910

[2018-07-30 14:09] sorinvasilescu commented on #22
Same issue here, the service starts, the app starts, it shows me a picture of the G810, but whatever I press in the app, nothing changes on the keyboard.
I've tailed the server log and it seems that the connection with the client is immediately closed after the client starts:
  Jul 30, 2018 5:08:06 PM Logi.GSeries.Service.LogiGSKService$Manager <init>
  INFO: New connection with client# 2 at Socke

[2018-08-06 06:37] ShayBox opened #25 "Add to AUR"
Would be really helpful if someone could add this to the AUR, I'm not really sure how to do that.

[2018-08-08 22:08] ifuente opened #26 "ES_QWERTY on G810"
I'm trying to do it by myself, but I find some obstacles.

Right now, the lsusb command reports that my keyboard (G810 ES_QWERTY) ID is 046d:c337, which, according to your code, is the same as an G910 Orion Spark UK_QWERTY.

[2018-08-09 04:42] s3v3nh4cks opened #27 "Add support for G900 Mouse"
Can you look into adding support for the G900 mouse that goes with the G910 keyboard??

[2018-08-17 16:15] kalarsen commented on #15
The INSTALL script fails, because there is no dist directory, and thus it cannot find the jars.

[2018-08-22 08:48] JohJohOneThousand opened #28 "JRE Kubuntu update just broke LogiGSK?"
Hi team,
I'm no expert but it looks like a routine Kubuntu system update included a JRE update and now LogiGSK won't launch. Manual launch attempt:

`Starting the LogiGSK service...
Cannot find any VM in Java Home /usr/lib/jvm/default-java
The LogiGSK service has started.
`

my apt log

`Start-Date: 2018-08-21  17:40:22
Commandline: packagekit role='update-packages'
Requested-By: [OBFUSCATED] (100

[2018-08-28 23:54] WalterLuigi commented on #16
Was compiling on Arch Linux and kept running into this issue. Turns out I was missing the jsvc package. I'd recommend ensuring it is installed and up to date, then rerunning ./INSTALL

[2018-08-29 00:11] WalterLuigi commented on #25
If I can get the software running fully on my machine, I'll look into making a package for the AUR.

[2018-09-05 10:27] andrakis commented on #28
I had the same issue on Lubuntu, and it appears that `jsvc`, which is reporting that first error message, is looking in slightly the wrong directory.

The fix I found was to run this:
[code]

I found the issue by running the `jsvc` command that the LogiGSK service uses to start, and added the `-debug` option. I saw the following telltale sign:
[code]

The file `amd64/server/libjvm.so` that it cann

[2018-09-05 10:34] andrakis commented on #24
The error message `Cannot find any VM ...` is something I just found a solution to. See #28 for my solution and if that helps you.

[2018-09-05 12:12] JohJohOneThousand commented on #28
Good job. Fixed. Thank you :)

[2018-09-09 00:16] deathtrip commented on #10
Actually the picture above shows the EU layout, US intl layout has a longer enter key and backslash key placed differently.

Anyway, any progress on adding the support?
Since g810-led already supports the gpro, will it work here too?

[2018-09-25 04:13] BenFradella opened #29 "no effect when pressing "set""
I have a logitech g910 keyboard. I'm running ubuntu 18.04 with kde-plasma and I got the software to install without issue. The keyboard shows up in the GUI but when I press the 'set' button nothing happens. Still stuck on the default rainbow wave effect.

[2018-09-27 20:05] #21 closed

[2018-09-29 14:51] holzfuss commented on #6
Dear Mohamad,

is there any chance that we will get the German interface? :)

Best regards,
Julian

[2018-10-05 01:01] crimv42 commented on #29
I am also on Ubuntu 18.04 and having the same results.

[2018-10-05 08:45] MohamadSaada commented on #29
@BenFradella @crimv42, I will test it today on Ubuntu 18.04 and confirm if there is a problem. I will let you know once tested.

[2018-10-05 08:47] MohamadSaada commented on #28
@andrakis thanks for solving the problem. Great work.

[2018-10-05 08:54] MohamadSaada commented on #27
@s3v3nh4cks I will try and look into it, the problem is that I don't have access to this mouse, I will see if I can bring one. Regards.

[2018-10-05 08:55] #28 closed

[2018-10-05 09:00] MohamadSaada commented on #26
@ifuente I am sorry to hear that. This could be a potential problem as we'll have to find the way Logitech uses to identify their keyboards in their own software.

[2018-10-05 09:01] #24 closed

[2018-10-05 09:01] MohamadSaada commented on #24
Solved by @andrakis. Thanks.

[2018-10-05 09:02] MohamadSaada commented on #25
@ShayBox I will try and do that soon.

@NullOtoko if you can do it, that will be great, and if I do it I'll let you know.

[2018-10-05 09:04] MohamadSaada commented on #23
@ludwigvdb please find me a high resolution clear image of the keyboard in question with solid colour background and I will do my best to add it.

[2018-10-05 09:06] MohamadSaada commented on #22
@LiyuanZHOU @sorinvasilescu please send me log files and what type of setup your using so that I can look further into the problem.

[2018-10-05 09:13] #19 closed

[2018-10-05 09:13] MohamadSaada commented on #19
Closed due to no further communication from user.

[2018-10-05 09:14] MohamadSaada commented on #18
Closed due to no further communication from the user.

[2018-10-05 09:14] #18 closed

[2018-10-05 09:18] MohamadSaada commented on #16
@wyatthuckaby @arthurcgusmao @BigDaddyLinux please see @NullOtoko suggestion and make sure that you have all other prerequisites installed too, this is probably due to something missing, and the program isn't being compiled.

[2018-10-05 09:20] MohamadSaada commented on #15
@kalarsen can you please specify the setup your using.

[2018-10-05 09:20] MohamadSaada commented on #14
Duplicate of #6

[2018-10-05 09:20] #14 closed

[2018-10-05 09:22] MohamadSaada commented on #6
@BikeAtor @herochao @holzfuss I will add it very soon, @BikeAtor sorry for the delay.

[2018-10-05 09:26] MohamadSaada commented on #13
@bitwombat you're correct, the other main problem is that there will have to be a major rewrite of the code to apply this change, as everything is written with a daemon in mind. I will see what I can do.

[2018-10-05 09:27] MohamadSaada commented on #10
I will add this soon, but you guys will have to test as I don't have one, sorry for the delay.

[2018-10-06 19:15] Alpkant commented on #18
I am really sorry for my late reply but i didn't get or couldn't see the notification of your comments. https://imgur.com/N692JQH is this image good for you or should i take another image ?

[2018-10-06 19:28] MohamadSaada commented on #18
Hi, thanks for the image, but if you can take a higher resolution one that would be great and preferably without flash effects visible on it, and with the keyboard lights off please. Thanks.

[2018-10-06 19:58] Alpkant commented on #18
I am not able to take higher resolution but i can take without flash and lights off if you want.

[2018-10-06 20:07] Alpkant commented on #18
Here is another try https://ibb.co/b7HMG9

[2018-10-14 11:00] Lightel24 commented on #23
@MohamadSaada Hi, i forked you're repo and i'm actually working on adding support fr the G610 orion with FR_AZERTY layout. I've created a G610OrionFRAZERTY class and added/ the enum where it should be referenced : Keyboard.java and LogiGSK.java (I think) More in depth, where the changes should be done to actually add the FR_Layout?

The GUI is working well after modyfing the Settings JDialog to ad

[2018-10-14 23:25] darksaboteur commented on #29
I am on Fedora 29 Beta and am encountering the same issue. My keys are stuck on the default blue colour.

[2018-10-21 02:12] zkarj commented on #29
I can confirm on Fedora 27 x86_64 too with Logitech G910 Orion Spectrum. I downloaded the binary rpm.

I installed rpmrebuild and apache-commons-daemon-jsvc and run rpmrebuild -ep to modify the rpm file and remove /, /usr, /usr/bin, then comment out all debconf script run entries since they don't exist.

I ran LogiGSK.sh fine and even chmod 666 /dev/usb/hiddev* (I didn't setup udev rules yet), but

[2018-10-22 03:01] zkarj commented on #29
Ok, I finally made it work. It was the LogiGSK.rules that had to be inside /etc/udev/rules.d/ so that the permission is correctly set for access by normal users.

I also compiled the latest git version, then use rpmrebuild -ep to replace the jar file in the rpm package (on top of the spec file that had be edited as mentioned above), and that may have helped.

I think logigsk-buildpackage needs to

[2018-10-24 23:42] Darksaint08 opened #30 "Ubunutu 18.04 Appears to break this!"
After upgrading to 18.04 from 17.04 I get this message when trying to start the service:

[code]

I also tried to build the deb again and this line appears to break the build as it now returns nothing:

[code]

when this runs the `USER` variable remains empty which causes the package build to fail.

[2018-10-27 11:21] andrakis commented on #30
I ran into this issue myself, and found a workaround in #28 . Seems to affect the current 18.x release of all Ubuntu and derivatives.

Note that it appears to be an issue with the `jsvc` program, not LogiGSK itself. It's just that LogiGSK uses `jsvc` as a standard way to launch daemon programs in java. This likely affects all programs that use `jsvc` to provide daemon management.

[2018-10-27 19:37] Darksaint08 commented on #30
Fantastic work! Thanks! I will make a separate issue about the package builder.

[2018-10-27 19:37] #30 closed

[2018-10-27 19:38] Darksaint08 opened #31 "Package Builder Fails Under Ubuntu 18.04"
I  tried to build the deb again and this line appears to break the build as it now returns nothing:

[code]

when this runs the `USER` variable remains empty which causes the package build to fail.

I modified mine to just set

[code]

[2018-10-31 21:09] darksaboteur commented on #29
@zkarj That is great news. Could you please provide the rpm file you built? I can not get mine to work following your instructions

[2018-11-16 20:33] Mela commented on #6
I'd really love to have German layout, too.

[2018-11-16 20:34] Mela commented on #2
G-Key support would be really important. Please add.

[2018-11-17 20:46] ashishk88 opened #32 "Connection with Logi G Keyboard service closed."
Could you please let me know why am I getting this error?

[2018-11-24 23:00] ShayBox commented on #25
Any update on this?

[2018-12-06 03:08] wraith3690 commented on #2
I have just run into this  https://github.com/JSubelj/g910-gkey-macro-support
it adds G-key support maybe you could use this? I do not know if it will work for other keyboards but worth a look

[2018-12-20 07:06] c4r1sb3n commented on #6
Ping!

[2019-01-13 19:13] TobiPeterG commented on #6
@MohamadSaada  So is it implemented yet?

Cause the 2 weeks are kind of over I guess. :D

[2019-01-19 13:56] ShayBox commented on #25
It's been 1/3 of a year... any update on this?

[2019-02-14 11:48] gchamon commented on #25
to get it running it needs `ant` package installed and after running `./INSTALL` I needed to manually create `$HOME/.local/share/LogiGSK/`. Steps are simple but I have no idea how to translate that into a working `PKGBUILD`
it really is a shame the program was written in Java. It would be way easier to make a pkg for Python

[2019-04-05 20:18] tpr1ze commented on #6
Hi Mohamad,

im using the G910 with a german layout. Do you have any new information for us ?

Thanks a lot!

[2019-04-05 20:25] tpr1ze opened #33 "Special keys not working"
Hi Mohamad,

thanks for the special tool :)
After the installation I have the problem that the keys Volume, Start, Stop, Last and Next do not work anymore.
Im using Linux Mint 19.1.

Thanks a lot!

[2019-04-05 20:32] tpr1ze commented on #33
After the installation of git g++ make libhidapi-dev it works fine now

[2019-04-05 20:32] #33 closed

[2019-04-15 06:51] Flare183 commented on #29
Still happening here. When I fire up LogiGSK, it just spits out
`└─[130] <> logigsk
Connected: 046d:c32b
Apr 15, 2019 2:51:11 AM Logi.GSeries.Keyboard.LogiGSK pauseServiceOperations
SEVERE: null
java.net.ConnectException: Connection refused (Connection refused)
	at java.net.PlainSocketImpl.socketConnect(Native Method)
	at java.net.AbstractPlainSocketImpl.doConnect(AbstractPlainSocketImpl.java:350)

[2019-04-22 05:06] Azyrion commented on #6
Hi Mohamad,

I'm also a german g910 user and just stumbled over this project. This seems very promising any kind of estimation when the DE_QWERTZ is finished? Or any kind of status would be nice!

Thanks in advance!

[2019-04-22 05:53] TobiPeterG commented on #6
Since there's like no kind of progress anymore, I'd recommend you to just this tool, works also very good: https://github.com/JSubelj/g910-gkey-macro-support

And: https://github.com/MatMoul/g810-led

[2019-07-17 14:05] voglster commented on #31
for my machine USER=`who | grep ':1' | grep -o '^\w*' | head -n1` results in the user as well

note the :1 not the :0

[2019-10-14 01:05] wraith3690 opened #34 "driver for g keys"
first off love this piece of software and thank you for making it. in my browsing I have found a working driver for the g910 macro keys at https://github.com/JSubelj/g910-gkey-macro-support I think it should work with other model keyboards but do not have them to test but it seems like it could be used in logiGSK for gkeys

[2019-11-05 19:48] MrEdinLaw commented on #32
Same error at ubuntu 18.04

[2019-11-05 20:15] MrEdinLaw commented on #22
Was this ever fixed? I can send log files if you tell me how

[2020-01-13 00:04] twotonejuggler commented on #16
If anyone is still having this issue, the same thing happened to me. I just downloaded the precomipled .deb file and reinstalled the program using that and everything worked.

[2020-01-20 07:08] Flajavin opened #35 "Media keys no longer work"
I have Ubuntu 18.04.3 LTS and after I install LogiGSK (and restart my laptop in order to make it work) the media keys from the keyboard no longer work. They do work before I install this,  but  after that install and restart  they no longer do. I also noticed that the G Keys tab it's just an empty page, not sure if the issue is related to this.

I use this at my office and what I do now is to inst

[2020-01-21 08:05] Flajavin commented on #35
Somehow now it works again after I restarted my laptop one more time and didn't start the app.

[2020-01-21 08:05] #35 closed

[2020-02-03 08:36] D1Ck3n commented on #25
I am also interested in an AUR or Arch Package

[2020-03-12 05:21] OmOiYuMe commented on #32
Same on manjaro 19.0, i had to install java8 because latest version (13) wasnt detected.

[Ljava.lang.String;@25820eb3
mar. 12, 2020 2:18:20 A. M. Logi.GSeries.Keyboard.CommunicationClient sendCommand
INFORMACIÓN: Connection with Logi G Keyboard service closed.

[2020-05-02 02:32] FroggMaster opened #36 "Pop!_OS Post-Installation script failure // Method 1 Install [FIX INCLUDED]"
Encountered the following error when installing on Pop!_OS

Error:
`Error while installing package: installed logigsk package post-installation script subprocess returned error exit status 1`

Steps I took to fix this:
- Manually created folder /etc/pm/sleep.d as it did not exist.
- Edited /var/lib/dpkg/info/logigsk.postinst and changed :0 to :1 as on Pop!_OS the default display is :1 instead of :

[2020-05-18 00:21] FroggMaster commented on #36
This is the same for any Ubuntu Install after 18.04.
This check could be easily adjusted for Ubuntu or any other required distro.

[2020-06-21 18:06] wraith3690 commented on #29
mint 19.3 hitting set does nothing for me it was working before but not now @zkarj can you share more clearly what it is that you did to fix it

[2020-07-21 02:47] #25 closed

[2020-07-21 02:47] ShayBox commented on #25
Closing issue, clearly not happening

[2021-01-25 21:04] ghost commented on #29
I'm on fedora 33. I installed logisk with the install script. When I try to run `logisk start`, it crashes my desktop session and forces me to log out. Setting does nothing either, and I suspect this is because the service isn't actually running.

[2021-01-25 21:05] ghost commented on #29
Though it says it is already setup to startup automatically :shrug:

[2021-01-25 21:07] ghost commented on #29
I get the same thing when I try to launch it from the terminal, I just launch in from the desktop entry anyways, but I guess I can't really do much debugging with it like this.

[2021-01-25 21:12] ghost commented on #29
Though when I used the jar provided in releases, I got this instead:
[code]

[2021-02-01 19:56] mvastola commented on #31
The `:0` or `:1` depends on which display you're using and is not a good way to do this at all because a computer may have multiple displays running or the user logged into the display might not be the user you're trying to install this for.

If you were dead-set on using the `USER` thing here, the better way would have been
[code]

Really though, there's no reliable way to guess who this should b

[2021-02-18 22:09] MartinMontanari commented on #36
I'm using PopOs 20.04 and it's working fine, I just ran `sudo. / INSTALL` like the documentation said and the magic was done.